<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miget.hxb.persistence.SysConfigMapper">
  <resultMap id="BaseResultMap" type="com.miget.hxb.domain.SysConfig">
    <id column="tc_id" jdbcType="INTEGER" property="id" />
    <result column="tc_business_id" jdbcType="INTEGER" property="businessId" />
    <result column="tc_config_name" jdbcType="VARCHAR" property="configName" />
    <result column="tc_config_type" jdbcType="VARCHAR" property="configType" />
    <result column="tc_config_key" jdbcType="VARCHAR" property="configKey" />
    <result column="tc_config_value" jdbcType="VARCHAR" property="configValue" />
    <result column="tc_remark" jdbcType="VARCHAR" property="remark" />
    <result column="tc_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tc_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tc_operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    tc.id as tc_id, tc.business_id as tc_business_id, tc.config_name as tc_config_name, 
    tc.config_type as tc_config_type, tc.config_key as tc_config_key, tc.config_value as tc_config_value, 
    tc.remark as tc_remark, tc.create_time as tc_create_time, tc.update_time as tc_update_time, 
    tc.operator as tc_operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsys_config tc
    where tc.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tsys_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.miget.hxb.domain.SysConfig">
    insert into tsys_config (id, business_id, config_name, 
      config_type, config_key, config_value, 
      remark, create_time, update_time, 
      operator)
    values (#{id,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}, #{configName,jdbcType=VARCHAR}, 
      #{configType,jdbcType=VARCHAR}, #{configKey,jdbcType=VARCHAR}, #{configValue,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miget.hxb.domain.SysConfig">
    insert into tsys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="businessId != null">
        business_id,
      </if>
      <if test="configName != null">
        config_name,
      </if>
      <if test="configType != null">
        config_type,
      </if>
      <if test="configKey != null">
        config_key,
      </if>
      <if test="configValue != null">
        config_value,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="configName != null">
        #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configType != null">
        #{configType,jdbcType=VARCHAR},
      </if>
      <if test="configKey != null">
        #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null">
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miget.hxb.domain.SysConfig">
    update tsys_config
    <set>
      <if test="businessId != null">
        business_id = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="configName != null">
        config_name = #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configType != null">
        config_type = #{configType,jdbcType=VARCHAR},
      </if>
      <if test="configKey != null">
        config_key = #{configKey,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null">
        config_value = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miget.hxb.domain.SysConfig">
    update tsys_config
    set business_id = #{businessId,jdbcType=INTEGER},
      config_name = #{configName,jdbcType=VARCHAR},
      config_type = #{configType,jdbcType=VARCHAR},
      config_key = #{configKey,jdbcType=VARCHAR},
      config_value = #{configValue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryConfigByBnIdAndKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tsys_config tc
    where tc.business_id = #{businessId,jdbcType=INTEGER}
    and tc.config_key = #{configKey,jdbcType=VARCHAR}
  </select>

  <select id="getValuesByBnIdAndType" resultMap="BaseResultMap" parameterType="com.miget.hxb.model.request.ConfigRequest">
    select
    <include refid="Base_Column_List" />
    from tsys_config tc
    where tc.business_id = #{businessId,jdbcType=INTEGER}
    <if test="configType != null">
      and config_type = #{configType,jdbcType=VARCHAR}
    </if>
    <if test="configKey != null">
      and config_key = #{configKey,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>