<ion-view id="withdraw" view-title="提现" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content" scroll="true">
    <link rel="stylesheet" href="../css/cards/myPoints.css" />
    <link rel="stylesheet" type="text/css" href="../css/order/general.css">
    <link rel="stylesheet" type="text/css" href="../css/order/user.css">
    <style>
      body{
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
        font-size: 12px;
        overflow: hidden;
        background: white;
      }

      .txbtn{
        float: right;
        margin: 0.5em;
        border: 1px solid #F2F2F2;
        border-radius: 100px;
        font-size: 14px;
        color: #848484;
        text-align: center;
      }
    </style>

    <div class="mui-content tabbar-content-padding">
      <div class="mui-row">
        <div class="mui-col-sm-12 mui-col-xs-12">
          <a ng-href="#/creditList/1/2" class="mui-btn mui-btn-outlined txbtn">提现明细</a>
        </div>
      </div>
      <div style="height: 12em;">
        <div style="padding-top: 1em;text-align: center;color: red;">
          <span class="icon ion-plane" style="font-size: 40px;"></span>
          <span style="font-size: 14px;font-weight: bold;">余额</span>
        </div>
        <div id="cashCredit" style="padding-top: 0.5em;text-align: center;font-size: 3em;color: red;">
          {{withdrawCredit/100 |  number:2}}
        </div>
      </div>
      <div class="mui-row" style="margin-top: 2em;margin-bottom: 2em;">
        <div class="mui-table-view">
          <div class="mui-table-view-cell" style="padding: 8px 15px;" id='showAccountPicker'>
            <a class="mui-navigate-right">
              <label style="width:20%;font-family: sans-serif;color: #848484;float: left;height: 34px;line-height: 34px;">到账账户</label>
              <input id='userAccount' readonly="readonly" style="width:60%;font-family: sans-serif;color: #3F424B;margin: 0;padding: 0;float: left;background-color: #fff;" type="text" class="mui-input-clear mui-input" >
              <span  style="font-size: 12px;color: #848484;height: 34px;line-height: 34px;">请选择</span>
            </a>
          </div>
        </div>
      </div>
      <div style="height: 4em;background: #FFFFFF;">
        <div class="mui-input-row" style="padding-top: 0.6em;">
          <label style="text-align: center;font-family: PingFangSC-Regular !important;font-size: 14px;color: #2E2E2E;">提现金额</label>
          <input style="padding: 10px 15px;" id="withdrawAmount" type="number" class="mui-input-clear" placeholder="请输入提现金额" min="0">
        </div>
        <div class="mui-row" style="margin: 0.5em;float: right;"><span id="withdrawAll" ng-click="func_withdrawAll()" style="font-family: PingFangSC-Regular;font-size: 12px;color: #EF0001;text-align: center;">全部提现</span></div>
      </div>
      <div class="mui-text-center" style="padding-top: 4em;margin: auto 0.5em;">
        <button id="withdrawButton" type="button" ng-click="func_withdraw()" class="mui-btn mui-btn-danger" style="width: 18em;height:40px;border-radius: 8px;">
          <span>提现</span>
        </button>
      </div>
      <div style="padding-top: 3em;bottom: 2em;color: #777;line-height: 1.5em;">
        提现说明：
        <ul>
          <li>1、领取积分价值人民币1元,满100可领取</li>
          <li>2、领取收取部分手续费(微信),部分用于兑换积分,直接发放到微信零钱账户,具体以实际到账的金额为准</li>
          <li>3、领取时间:工作日 08:00 ~ 12:00</li>
          <li>4、提现请先绑定帐号直接跳转绑定</li>
          <li>5、付款到账实效为1-3日，最快次日到账</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>