<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miget.hxb.persistence.BizCreditDetailMapper">
  <resultMap id="BaseResultMap" type="com.miget.hxb.domain.BizCreditDetail">
    <id column="tcd_id" jdbcType="INTEGER" property="id" />
    <result column="tcd_user_id" jdbcType="INTEGER" property="userId" />
    <result column="tcd_credit_type" jdbcType="INTEGER" property="creditType" />
    <result column="tcd_order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="tcd_deal_id" jdbcType="VARCHAR" property="dealId" />
    <result column="tcd_remark" jdbcType="VARCHAR" property="remark" />
    <result column="tcd_credit" jdbcType="BIGINT" property="credit" />
    <result column="tcd_send_status" jdbcType="INTEGER" property="sendStatus" />
    <result column="tcd_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tcd_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="tcd_operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <sql id="Base_Column_List">
    tcd.id as tcd_id, tcd.user_id as tcd_user_id, tcd.credit_type as tcd_credit_type,
    tcd.order_id as tcd_order_id, tcd.deal_id as tcd_deal_id, tcd.remark as tcd_remark,
    tcd.credit as tcd_credit, tcd.send_status as tcd_send_status, tcd.create_time as tcd_create_time,
    tcd.update_time as tcd_update_time, tcd.operator as tcd_operator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbiz_credit_detail tcd
    where tcd.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbiz_credit_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.miget.hxb.domain.BizCreditDetail">
    insert into tbiz_credit_detail (id, user_id, credit_type,
    order_id, deal_id, remark,
    credit, send_status, create_time,
    update_time, operator)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{creditType,jdbcType=INTEGER},
    #{orderId,jdbcType=VARCHAR}, #{dealId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
    #{credit,jdbcType=BIGINT}, #{sendStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.miget.hxb.domain.BizCreditDetail">
    insert into tbiz_credit_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="creditType != null">
        credit_type,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="dealId != null">
        deal_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="creditType != null">
        #{creditType,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="dealId != null">
        #{dealId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=BIGINT},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.miget.hxb.domain.BizCreditDetail">
    update tbiz_credit_detail
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="creditType != null">
        credit_type = #{creditType,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="dealId != null">
        deal_id = #{dealId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=BIGINT},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.miget.hxb.domain.BizCreditDetail">
    update tbiz_credit_detail
    set user_id = #{userId,jdbcType=INTEGER},
      credit_type = #{creditType,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      deal_id = #{dealId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      credit = #{credit,jdbcType=BIGINT},
      send_status = #{sendStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryUserCreditPageList" resultType="com.miget.hxb.model.response.UserCreditDetailResponse"
          parameterType="com.miget.hxb.model.request.UserCreditDetailRequest">
    SELECT
        tcd.create_time as createTime,
        tcd.credit,
        tcd.order_id as orderId,
        tcd.remark,
        tct.type_value as typeValue,
        tct.type_name as typeName,
        tct.balance_type as balanceType,
        tct.type_category as typeCategory
    FROM
        tbiz_credit_detail tcd,
        tbiz_credit_type tct
    WHERE
        tct.type_value = tcd.credit_type
    AND tcd.user_id = #{userId,jdbcType=INTEGER}
    <if test="typeValue != null">
      AND tcd.credit_type = #{typeValue,jdbcType=INTEGER}
    </if>
    <if test="typeCategory != null">
      AND tct.type_category = #{typeCategory,jdbcType=INTEGER}
    </if>
  </select>

  <update id="updataCreditStatus" parameterType="com.miget.hxb.model.request.CreditStatusRequest">
    update tbiz_credit_detail
    set
      send_status = #{status,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
    and order_id = #{orderId,jdbcType=VARCHAR}
  </update>

</mapper>