<ion-view id="goodsList" view-title="商品列表页" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content">
    <link rel="stylesheet" type="text/css" href="../css/order/general.css">
    <link rel="stylesheet" type="text/css" href="../css/order/user.css">
    <!-- 产品部分 -->
    <ion-refresher pulling-text="亲爱滴！马上为您加载最新商品..." refreshing-text="loading..." on-refresh="func_refreshOrderList()"></ion-refresher>

    <div class="orderli module cut" id="orders" data-cur="1" data-next="1">
      <div class="item" ng-repeat="order in obj_orderListData" style="padding: 0;font-size: 12px">
        <div class="th c666"><span class="fr">{{order.progress}}</span><font class="mr5">订单号:</font><b>{{order.outTradeNo}}</b></div>
        <div class="goods" ng-repeat="orderItem in order.orderItems">
          <a class="im" ng-href="#/details/{{orderItem.productId}}"><img ng-src="{{orderItem.productImg}}" /></a>
          <div class="info">
            <p><a ng-href="#/details/{{orderItem.productId}}">{{orderItem.productName}}</a></p>
            <span></span>
            <p class="mt5">
              <font class="c999 mr5">单价:</font><i class="cny">¥</i>{{orderItem.productPrice/100 |  number:2}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="c999 mr5">数量:</font>{{orderItem.productCount}}
            </p>
          </div>
        </div>

        <div class="total"><font class="mr5">总额:</font><span class="red" ><i class="cny">¥</i><font class="f14">{{order.amount/100 |  number:2}}</font></span><span class="ml5 c999">(含运费：<i class="cny">¥</i>0.00)</span></div>
        <div class="act">
          <a ng-href="#/order/detail/{{order.orderId}}">查看详细</a>
          <a ng-if="order.orderStatus == 0" class="b1" ng-href="#/pay/{{order.orderId}}/{{order.amount}}">立即付款</a>
        </div>
      </div>
    </div>

    <div ng-hide="pms_isMoreItemsAvailable" style="text-align: center">
      <span>见底了！</span>
    </div>
    <ion-infinite-scroll ng-if="pms_isMoreItemsAvailable" on-infinite="func_loadMoreOrderList()" distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
