.tab-ucenter-grtp{
    padding: 2.5em 0;	
}

.tab-ucenter-tpd-t{
	width: 4em;
    border-radius: 50%;	
}

.tab-ucenter-grtp-mc{
	font-family: PingFangSC-Semibold;	
	font-size: 27px;
    color: #282E3E;
    line-height: 1.8em;
}

.tab-ucenter-grtp-id{
	font-size: 11px;
	color: #84848C;
	line-height: 13px;	
}

.tab-ucenter-tpd-s{
	margin-top: 1.5em;	
	color: #848484;
}

.ab-ucenter-wddd-wd{
	font-family: PingFangSC-Medium;	
	font-size: 16px;
	color: #3F424B;
}

.tab-ucenter-grtp-imag{
	padding: 0.5em 0 0 0;
}

.tab-ucenter-wd-s{
	color: #848484;
}

.ab-ucenter-wddd-wd-xx{
	font-family: PingFangSC-Medium;	
	font-size: 16px;
	color: #3F424B;
	line-height: 40px;	
}

.tab-ucenter-wd-sxx{
	color: #848484;
	line-height: 40px;
}

.ab-ucenter-wddd-ckqxx{
	font-size: 12px;
	color: #848484;
	text-align: right;	
	line-height: 40px;
}

.ab-ucenter-wddd-ckqbdd-fs{
	font-family: PingFangSC-Regular;
	font-size: 18px;
	color: #2E2E2E;
	text-align: right;	
}

.tcart-tj-ddcp-row-wz{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #848484;	
}

.tab-ucenter-tp{
	width: 30px;
}

.ab-ucenter-qyjs{
	line-height: 60px;
    color: #8C6D6D;	
}

.ab-ucenter-qyjs-ckqxx{
	font-size: 12px;
    color: #848484;	
	line-height: 60px;
}

.tab-ucenter-qyjs-sxx{
	color: #848484;
	line-height: 60px;
}

.ab-ucenter-wddd-a{
    color: #848484;
}
