<ion-view id="addressDetail" view-title="地址详情" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content" scroll="false">
    <link rel="stylesheet" type="text/css" href="../css/order/general.css">
    <link rel="stylesheet" type="text/css" href="../css/order/order.css">
    <link rel="stylesheet" type="text/css" href="../css/order/pay.css">
    <link rel="stylesheet" type="text/css" href="../css/order/user.css">
    <!-- 收件人表单开始 -->
    <div class="csnform" id="csnform" style="width: 100%;">
      <form>
        <div class="main cut">
          <input type="hidden" ng-model="receiver.id" name="id"/>
          <dl><dt>收件人</dt><dd><input ng-model="receiver.receivingUserName" name="receivingUserName" type="text" class="vinput"></dd></dl>
          <dl><dt>手机号码</dt><dd><input ng-model="receiver.mobile" name="mobile" type="number" pattern="[0-9]*" class="vinput"></dd></dl>
          <dl>
            <dt>选择省份</dt>
            <dd>
              <div class="vslt">
                <input ng-model="receiver.provinceName" name="provinceName" type="text" class="vinput" placeholder="请输入省份">
                <span><i class="iconfont">&#xe615;</i></span>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>选择城市</dt>
            <dd>
              <div class="vslt">
                <input ng-model="receiver.cityName" name="cityName" type="text" class="vinput">
                <span><i class="iconfont">&#xe615;</i></span>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>选择区/县</dt>
            <dd>
              <div class="vslt">
                <input ng-model="receiver.area" name="area" type="text" class="vinput" placeholder="请输入区/县">
                <span><i class="iconfont">&#xe615;</i></span>
              </div>
            </dd>
          </dl>
          <dl><dt>详细地址</dt><dd><textarea ng-model="receiver.receivingAddress" name="receivingAddress" class="vtextarea"></textarea></dd></dl>
        </div>
      </form>
      <a class="submit act xauto mt15" style="background: #538bf1;" ng-click="func_saveCsnForm()">保 存</a>
      <a ng-if="receiver.id" class="submit act xauto mt15" ng-click="func_deleteCsnForm(receiver.id)">删 除</a>
    </div>
  </ion-content>
</ion-view>