<ion-view id="goodsList" view-title="商品列表页" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content">
    <link href="../css/goodsList/goodsList.css" rel="stylesheet">
    <!-- 产品部分 -->
    <ion-refresher pulling-text="亲爱滴！马上为您加载最新商品..." refreshing-text="loading..." on-refresh="func_refreshGoodsList()"></ion-refresher>

    <ul>
      <li ng-repeat="item in obj_goodsListData">
        <div id="sy-rmtjwz-sp" class="mui-col-sm-12 mui-col-xs-12">
          <div class="mui-row sy-rmtjcp">
            <a ng-href="#/details/{{item.productId}}">
              <div class="mui-row">
                <div class="mui-col-sm-4 mui-col-xs-4">
                  <img ng-src="{{item.listImg}}" alt="item.productName" class="sy-rmtjcp-tp">
                </div>
                <div class="mui-col-sm-8 mui-col-xs-8 sy-rmtjcp-nr">
                  <div class="mui-row">
                    <div class="mui-col-sm-12 mui-col-xs-12 sy-rmtjcp-nr-bt">{{item.productName}}</div>
                    <div class="mui-col-sm-12 mui-col-xs-12 sy-rmtjcp-nr-fbt">{{item.subName}}</div>
                    <div class="mui-col-sm-12 mui-col-xs-12 ">
                      <div class="mui-row">
                        <div class="mui-col-sm-3 mui-col-xs-3 sy-rmtjcp-nr-bq"><span>纯度高</span></div>
                        <div class="mui-col-sm-3 mui-col-xs-3 sy-rmtjcp-nr-bq"><span>正品</span></div>
                      </div>
                    </div>
                    <div class="mui-col-sm-12 mui-col-xs-12 sy-rmtjcp-nr-jgkc">
                      <div class="mui-row">
                        <div class="mui-col-sm-4 mui-col-xs-4 sy-rmtjcp-nr-jgkc-jg">
                          <span>¥</span>
                          <span class="sy-rmtjcp-nr-jgkc-jgsz">{{item.price/100 |  number:2}}</span>
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4">
                          <span>原价:</span>
                          <span>¥{{item.prePrice/100 |  number:2}}</span>
                        </div>
                        <div class="mui-col-sm-4 mui-col-xs-4">
                          <span>已售</span>
                          <span>{{item.inventory}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div ng-hide="pms_isMoreItemsAvailable" style="text-align: center">
      <span>见底了！</span>
    </div>
    <ion-infinite-scroll ng-if="pms_isMoreItemsAvailable" on-infinite="func_loadMoreGoodsList()" distance="1%" immediate-check="false">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
