<ion-view id="home" view-title="首页" cache-view="false">
  <!--头部搜索栏-->
  <!--<div id="headerBar" class="headerBar">
    <div id="headerBar-bg"></div>
    <div class="headerBar-logo">
    </div>
    <a class="headerBar-search"  ng-href="#">
      <span></span>
      <div>
        <input  maxlength="20" autocomplete="true" value="精美商品 独家放价"/>
      </div>
    </a>
    <a class="headerBar-login" ng-href="#">
        <span>
            登录
        </span>
    </a>
  </div>-->
  <ion-content id="home-content" class="scroll-content" scroll="false">
    <link href="../css/home/home.css" rel="stylesheet">
    <!--头部滚动条-->
    <div class="headerSlider">
      <div id="headerSlider" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="item in obj_headerSlideData">
            <img alt="{{item.shareTitle}}" ng-src="{{item.imgUrl}}">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <!-- 功能导航 -->
    <nav id="nav">
      <span ui-sref="tab.category">
        <img ng-src="img/home/nav0.png" alt="">
        <h2>分类查询</h2>
      </span>
      <!--<span>
        <img ng-src="img/home/nav1.png" alt="">
        <h2>物流查询</h2>
      </span>
      <span>
        <img ng-src="img/home/nav2.png" alt="">
        <h2>购物车</h2>
      </span>
      <span>
        <img ng-src="img/home/nav3.png" alt="">
        <h2>我的京东</h2>
      </span>
      <span>
        <img ng-src="img/home/nav4.png" alt="">
        <h2>充值</h2>
      </span>-->
      <span>
        <img ng-src="img/home/nav5.png" alt="">
        <h2>领券中心</h2>
      </span>
      <span>
        <img ng-src="img/home/nav6.png" alt="">
        <h2>生活团购</h2>
      </span> 
      <span>
        <img src="img/home/nav7.png" alt="">
        <h2>我的关注</h2>
      </span>
    </nav>

    <!--头条-->
    <div class="toutiao">
      <img ng-src="img/home/home-toutiao.jpg">
      <div id="toutiaoSlider" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" ng-repeat="item in obj_headerTouTiao">
            <a ng-href="{{item.linkUrl}}">{{item.shareTitle}}</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 限时特价 -->
    <div id="centent">
      <div class="centent-top">
        <span></span>
        <h2>限时特价</h2>
        <div class="centent-time">
          <span class="time-text">0</span>
          <span class="time-text">0</span>
          <span>:</span>
          <span class="time-text">0</span>
          <span class="time-text">0</span>
          <span>:</span>
          <span class="time-text">0</span>
          <span class="time-text">0</span>
        </div>
        <div class="centent-more">
          更多>
        </div>
      </div>
      <ul class="centent-bottom">
        <li ng-repeat="item in product_limitTimeOnSale">
          <a ng-href="#/details/{{item.productId}}">
          	<img ng-src="{{item.listImg}}" alt="{{item.productName}}">
          </a>
          <span class="seckill-now">￥{{item.price/100}}</span>
          <span class="seckill-old">￥{{item.prePrice/100}}</span>
        </li>
      </ul>
    </div>

    <!--主题场馆-->
    <div class="floor">
      <div class="floor-title">主题场馆</div>
      <!--<div class="floor-business">
        <div class="floor-product-list floor-left">
        	<a ng-href="#/goodsList/{{themeProducer.leftTheme.producerId}}/producer">
          <img ng-src="{{themeProducer.leftTheme.homepageImg}}" alt="{{themeProducer.leftTheme.producerName}}">
          </a>
        </div>
        <div class="floor-product-list" >
          <img ng-src="{{item.homepageImg}}" ui-sref="goodsList({typeNumber:{{item.producerId}},type:'producer'})" alt="{{item.producerName}}" ng-repeat="item in themeProducer.rightTheme">
        </div>
      </div>-->

      <ul class="centent-business">
          <li ng-repeat="item in businesses">
            <a ng-href="#/goodsList/{{item.businessId}}/business">
              <img ng-src="{{item.listImg}}" alt="{{item.businessName}}">
            </a>
          </li>
      </ul>
    </div>

    <!--广告2-->
    <!--<div class="ad">
      <ion-slide-box show-pager="true" auto-play="true" does-continue="true">
        <ion-slide ng-repeat="item in obj_home_adv">
          <img ng-src="{{item.imgUrl}}">
        </ion-slide>
      </ion-slide-box>
    </div>-->
    <!-- 品牌展示 -->
    <div id="floor-1" class="floor">
      <div class="floor-title">品牌购</div>
      <ul class="centent-brand">
        <li ng-repeat="item in brand">
          <a ng-href="#/goodsList/{{item.categotyId}}/brand">
            <img ng-src="{{item.categotyImg}}" alt="{{item.categotyName}}">
          </a>
        </li>
      </ul>
    </div>

    <div id="floor-2" class="floor">
      <div class="floor-title">热门产品</div>
      <ul>
        <li ng-repeat="item in hotProducts">
          <div id="sy-rmtjwz-sp" class="mui-col-sm-12 mui-col-xs-12">
            <div class="mui-row sy-rmtjcp">
              <a ng-href="#/details/{{item.productId}}">
                <div class="mui-row">
                  <div class="mui-col-sm-4 mui-col-xs-4">
                    <img ng-src="{{item.listImg}}" alt="{{item.productName}}" class="sy-rmtjcp-tp">
                  </div>
                  <div class="mui-col-sm-8 mui-col-xs-8 sy-rmtjcp-nr">
                    <div class="mui-row">
                      <div class="mui-col-sm-12 mui-col-xs-12 sy-rmtjcp-nr-bt">{{item.productName}}</div>
                      <div class="mui-col-sm-12 mui-col-xs-12 sy-rmtjcp-nr-fbt">{{item.subName}}</div>
                      <div class="mui-col-sm-12 mui-col-xs-12 ">
                        <div class="mui-row">
                          <div class="mui-col-sm-3 mui-col-xs-3 sy-rmtjcp-nr-bq"><span>纯度高</span></div>
                          <div class="mui-col-sm-3 mui-col-xs-3 sy-rmtjcp-nr-bq"><span>正品</span></div>
                        </div>
                      </div>
                      <div class="mui-col-sm-12 mui-col-xs-12 sy-rmtjcp-nr-jgkc">
                        <div class="mui-row">
                          <div class="mui-col-sm-4 mui-col-xs-4 sy-rmtjcp-nr-jgkc-jg">
                            <span>¥</span>
                            <span class="sy-rmtjcp-nr-jgkc-jgsz">{{item.price/100 |  number:2}}</span>
                          </div>
                          <div class="mui-col-sm-4 mui-col-xs-4">
                            <span>原价:</span>
                            <span>¥{{item.prePrice/100 |  number:2}}</span>
                          </div>
                          <div class="mui-col-sm-4 mui-col-xs-4">
                            <span>已售</span>
                            <span>{{item.inventory}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!--回到顶部的区块-->
    <div class="back_top"></div>
  </ion-content>
</ion-view>
