<ion-view id="addressList" view-title="地址列表" hide-back-button="true" cache-view="false">
  <ion-content class="scroll-content" scroll="false">
    <!-- 收件人列表开始 -->
    <div class="csnli poper">
      <!--<div class="header">
        <div class="op lt"><a onclick="hideCsnList()"><i class="f20 iconfont">&#xe602;</i></a></div>
        <h2>选择收件人</h2>
      </div>-->
      <div class="opts module">
        <dl id="csnopt-{{item.id}}" ng-class="{'checked':item.isDefault}" ng-repeat="item in consigneeList">
        <dd class="l" ng-click="onChangeCsn(this)"><i class="iconfont">&#xe61a;</i></dd>
        <dd class="r" data-json="{{item}}" ui-sref="addressDetail({addressId:{{item.id}}})"><i class="iconfont">&#xe617;</i></dd>
        <dd class="m">
          <h4 class="c666" data-id="{{item.id}}">{{item.receivingUserName}}<span class="ml10">{{item.mobile}}</span></h4>
          <p class="mt5 c888">{{item.provinceName}}{{item.cityName}}{{item.area}}{{item.receivingAddress}}</p>
        </dd>
        </dl>
        <a class="add" ng-href="#/address/detail/">+ 添加收件人</a>
      </div>
    </div>
    <!-- 收件人列表结束 -->
  </ion-content>
</ion-view>